@{
    ViewData["Title"] = "About Page";
}

<div class="d-flex flex-column justify-content-center align-items-center" style="height: calc(100vh - 200px);">
    <img class="rounded-circle m-4" src="https://avatars.githubusercontent.com/u/56272903?v=4" alt="Pop Pic :P" style="width: 300px; height: 300px">
    <h1 class="display-4">Sirawit Sukwattanavit</h1>
    <p>62010948, Computer Engineer, KMITL</p>

    <p>Repository: <a href="https://github.com/sirawit-suk/Basic-Calculator" target="_blank">github/sirawit-suk/Basic-Calculator</a></p>
</div>
