@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="mb-4">@ViewData["Title"]</h1>

<p class="mb-4">For Software Studio Subject only, Computer Engineering, KMITL 2022</p>

<p class="m-0">This is not on production, I'm not confirm that it will work perfectly 100% (Maybe it has some bug), so use with caution !</p>
<p class="mb-4">This is only example Basic calculator (reference from IOS calculator) for learning about AJAX, ASP.NET MVC and more, check on <a href="https://github.com/sirawit-suk/Basic-Calculator" target="_blank">My Repository here</a></p>

<p>Feel free to ask me a question or report bug that you have found, I will be very appreciated :)</p>

<p class="m-0">Pop</p>
<p>A Programmer, Night Owl, Weep, and a Geeky Man.</p>